:root {
  --whitesmoke: #F5F5F5;
  --sidebar__width: calc(15rem + 6vw);
  --navbar__height: 2.5rem;
}
body {}

header {
  background: url(https://specials-images.forbesimg.com/imageserve/5f74c36afbc1eb3aba9d44bb/960x0.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  overflow-y: visible;
}

header h1, header p {
  background-color: rgba(52, 58, 64, 0.75);
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1px;
  margin-bottom: auto;
  align-items: stretch;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

#top_navbar {
  top: 0;
  height: var(--navbar__height);
  display: flex;
  z-index: 2;
  position: sticky;
  position: -webkit-sticky;
}

#top_navbar > a {
  display: flex;
  flex-flow: row wrap;
  color: inherit;
  text-align: center;
}

.left--controller {
  display: flex;
  flex-flow: row wrap;
  color: inherit;
  text-align: center;
  height: auto;
  line-height: auto;
  white-space: nowrap;
}


#sidebar {
  top: 0;
  margin-top: calc(-1 * var(--navbar__height));
  width: var(--sidebar__width);
  background-color: var(--whitesmoke);
  transition: 0.3s ease-in-out;
  position: sticky;
  position: -webkit-sticky;
  height: 100vh;
  z-index: 3;
  display: block;
}

.sidebar--header {
  display: flex;
  flex-flow: row nowrap;
  color: inherit;
  text-align: center;
  height: auto;
  line-height: auto;
  white-space: nowrap;
  margin-left: 1rem;
}

.sidebarToggler {
  display: block;
}


.sidebar--body a {
  padding: 7px 18px;
  display: block;
}

.sidebar--body a:hover{
  background-color: #d0daff
}

.sidebar--body li.active > a {
  background-color: #fff1d0;
}

.sidebar--body li > a, a[aria-expanded="true"]{
  background-color: inherit;
}

.sidebar--body ul a {
  padding: 5px 3px 5px 30px;
}

#sidebar.active {
  margin-left: calc(-1 * var(--sidebar__width));
}

#main_article {
  position: relative;
  width: calc(100vw - var(--sidebar__width));
  transition: 0.3s ease-in-out;
}

#main_article.left {
  margin-left: 7vw;
  width: 100%;
}

.overlay {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
    body {
      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }

    #sidebar {
        margin-left: calc(-1 * var(--sidebar__width));
    }
    #sidebar.active {
        margin-left: 0;
    }

    #main_article {
      position: relative;
      margin-left: 0;
      width: 100%;
    }

    #main_article .left {
      margin-left: 0;
      overflow-y: hidden;
    }

    .overlay.active {
      display: block;
      opacity: 1;
    }
}
/*phần mới thêm*/
.preface{
  border-left: solid red;
  color: lavender;
  font-style: italic;
  background-color: gray;
}
.heder{
  color: white;
  background-color:#252827;
  margin-left;
}
.content2{
  color: white;
  background-color: #252827;
}
.img1{
  padding-top:450px;
  width:100px;
  height:700px;
  background: lavender;
}
.img2{
  padding-top:30px;
  width:100px;
  height:30 0px;
  background: lavender;
}
.img3{
  padding-top:10px;
  width:100px;
  height:30 0px;
  background: lavender;
}
.text{
  position:relative;
  color: gray;
  background-color: rgba(52, 58, 64, 0.75);
  border:50px;
  width:100%;
}
#right{
  width: 100%;
  min-height: auto;
  border: 1px solid #CDCDCD;
}
.right2{
  width:15%;
  min-height: auto;
}
.cmtimg{
  text-align: center;
  padding:15px;
}
table tr{
  border-bottom: 1px solid #ececec;
  padding:1rem;
  font-size:1rem;
  color:white;
}
.column1{
  font-style: bold;
  font-size: 1rem;
  color:white;
}
.column234{
  font-size: 1rem;
  color:white;
}
.column5{
  font-size: 1rem;
  color:white;
}
